<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Авторизація</title>
</head>
<body>
<h2>Авторизація</h2>
<form method="POST" action="/signIn">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit">Увійти</button>
    </div>
</form>
</body>
</html>
